.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 3px 10px 0 rgba(0,0,0,0.09);
}

h3 {
  font-size: 15px !important;
}

#search-navbar{
  a {
    color: #333;
  }

  .input-group .input-group-addon{
    padding: 0;
    &:focus {
      outline:0;
    }
  }
  .search_field{
    padding: 6px 17px;
    @-moz-document url-prefix() {
      // To remove dotted border from select box in firefox
      color: transparent;
      text-shadow: 0px 0px 0px rgb(85, 85, 85);
    }


    &:focus  {
      outline:0;
      webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 193, 167, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 193, 167, 0.6);
    }
  }
}