#header-navbar {
  box-shadow: 0 10px 6px -6px #ccc;

  .navbar-brand {
    text-indent: 0 !important;
    background:transparent!important;
    padding: 15px !important;
    width: 160px;
  }

  a {
    color: #fff !important;
    &:focus, &:hover, &:active {
      color: gray !important;
    }
  }

}
