.navbar-brand{
  background: transparent url(asset-path('logo.jpg')) no-repeat top left!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}