section#metaData, section#category, section#userTags {
  h3 {
    margin-top: 0;
  }
}

#metadata {
  :empty { // Do not display empty DOMs
    display: none;
  }
  .dl-horizontal {
    dd {
      margin-bottom: 4px;
      margin-left: 200px;
    }
    dt {
      width: 190px;
      white-space: normal;
    }
  }

  h3 {
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  ul li {
    margin: 0 0 10px 0;
  }
}

.socialButtons {
  position: relative;
  top: 0;
  left: 2px;
  z-index: 9999;
  width: 130px;
}

.fa-facebook, .fa-twitter, .fa-print {
  padding-right: 7px;
}

.fa {
  &:hover {
    color: $link-hover-color !important;
  }
  color: $link-color !important;
}

// kbOSD
#kbOSDInstance {
  height: 680px;
  top: -20px;
  .kbOSDViewer .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
  }
  .kbOSDContent {
    border-color: $nav-tabs-border-color !important;
    border-style: solid;
    border-width: 1px;
  }

  @media only screen and (max-width: 1026px) {
    .hideWhenSmall {
      display: none !important;
    }
  }
}


/* Hide rotation and print icon  on phone Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .rotateRight, .rotateLeft, .fa-print{
    display:none !important;
  }
}

