.fa{
  &:hover{
    color:$link-hover-color !important;
  }
  color: $link-color !important;
}

.kbOSDContent{
  border-color: $nav-tabs-border-color !important;
}

#kbOSDInstance {

  height: 680px;

  .kbOSDContent {
    border-style: solid;
    border-width: 1px;
  }
}