#search-navbar, #search-navbar .form-wrapper {


  @media only screen and (min-width: 1024px) {
    min-height: 60px !important;
  }

  @media only screen
  and (min-device-width : 667px)
  and (max-device-width : 1024px) {
    min-height: 100px !important;
  }

  @media only screen
  and (max-device-width : 667px) {
    min-height: 220px !important;
  }


  .search-query-form{
    width: 100% !important;
  }
  .form-inline {
    position:absolute;
    padding-left:0;
    padding-right:0;
    top:40%;
    width: 100%;
    .input-group-btn{
      width: 1px;
    }

  }

  @media only screen and (min-width: 768px) {
    .left-inner-addon {
      position: relative;
    }
    .left-inner-addon input {
      padding-left: 30px;
    }
    .left-inner-addon i {
      position: absolute;
      padding: 10px 12px;
      pointer-events: none;
    }
  }


  @media only screen and (min-width: 768px) {

    #datepicker1, #datepicker2{
      max-width: 170px;
    }
    .search-box{
      width: 40%;
    }
    .search_q{
      width: 100%;
    }
  }
}


