#tree {
  max-height: 650px;
  width: 100%;
  overflow: auto;
  position: relative;
  .glyphicon {
    color: #ff9d74;
    font-size: 8px;
  }
  background-color: #fdfdfd;
  overflow-x: hidden !important;

}

.jstree-default .jstree-icon:empty {
  width: 16px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.jstree-anchor {
  /*enable wrapping*/
  white-space: normal !important;
  /*ensure lower nodes move down*/
  height: auto !important;
  /*offset icon width*/
  padding-right: 24px !important;
}

@media(min-width: $screen-md-min) {
  #tree {
    display: block;
  }
}

#tree.collapse.in {
  display: block;
}

#tree.collapse {
  display: none;
}

#navigation {
  border: 0;
}

#tree-heading{
  border: 1px solid #ddd;
}

.loader {
  border: 3px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 3px solid #555;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 50;
  position: absolute;
  left: 50%;
  top: 25%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}