<footer class="pageFooter dkbreveFooter">
  <div class="container">
    <div class="row text-center hidden-xs">
      <sp>
          <a href="http://www.kb.dk" target="_blank">
            <span>
              <h5>Det Kgl. Bibliotek</h5>
            </span>
          </a>
      </sp
      <span>|</span>
      <span>
         <%= link_to 'Cookie- og Privatlivspolitik', page_path('politik'), class: '', :target => '_blank'  %>
      </span>
      <span>|</span>
      <span>
         <%= link_to t('blacklight.footer_links.info'), t('blacklight.footer_links.link'), class: '', :target => '_blank'  %>
      </span>
    </div>
    <div class="visible-xs-block">
      <div class="col-sm-12">
        <a href="http://www.kb.dk" target="_blank">
          Det Kgl. Bibliotek
        </a>
      </div>

      <div class="col-sm-12"><%= link_to 'Cookie- og Privatlivspolitik', page_path('politik'), class: '' , :target => "_blank" %></div>
      <div class="col-sm-12"><%= link_to t('blacklight.footer_links.info'), t('blacklight.footer_links.link'), class: '' , :target => '_blank' %></div>
    </div>
  </div>
</footer>

