<% subject_id = "/#{params[:medium]}/#{params[:collection]}/#{params[:year]}/#{params[:month]}/#{params[:edition]}/subject#{params[:subj_id]}" unless params[:medium].blank? %>
<% lang = params['locale'] %>

<!--I take the params by splitting the URL, and NOT by using blacklight functionality, because the params returned
different format for the facets (I think it's bug in Blacklight)-->
<% filter_params_url = "" %>
<% filter_params_url = '?' + request.original_url.partition('?').last if request.original_url.include?('?') %>

<% if subject_id %>
    <ul class="breadcrumb">
      <!-- Show the home pge link -->
      <li>
        <%= link_to t('blacklight.home'), "/editions/any/2009/jul/editions/#{lang}/" %>
          <!--If there is a breadcrumb (that means we are in a subcategory and NOT an edition)-->
          <% unless get_breadcrumb_path(subject_id).nil? %>
              <!--Iterate through the subcategories-->
              <% array = get_breadcrumb_path(subject_id) %>
              <% i=0 %>
              <% puts 'mm='+ array[i] %>
                  <ul>
                    <%= render :partial =>'siblings', locals: { :array => array, :i => i, :lang => lang, :filter_params_url => filter_params_url} %>

                  </ul>
          <% end %>

      </li>

    </ul>
<% end %>