<div class="col-xs-12 col-sm-4 edition-card">
  <div class="flipper">
    <div class="card-front card-face">
      <%= render 'edition_card_front' %>
    </div>
    <div class="card-back card-face">
      <%= render 'edition_card_back' %>
    </div>
  </div>
</div>