<h2 class="card-title">
  <%=
    if 'en'.eql?(params[:locale])
      edition[:name_en_ssi]
    else
      edition[:name_ssi]
    end
  %>
</h2>


<% #if exhibit.description %>
  <p class="description">
    <%#= exhibit.description.truncate(168, omission: "") %>
    <%# if exhibit.description.length > 168 %>
      <%#= content_tag(:span,"&hellip;".html_safe, class: "visible-sm visible-md") %>
      <span class="hidden-sm hidden-md">
        <%#= exhibit.description.slice(168, exhibit.description.length) %>
        <%= if 'en'.eql?(params[:locale])
              edition[:description_tesim].join(' ')
            else
              edition[:description_tdsim].join(' ')
            end
        %>
      </span>
    <% #end %>
  </p>
<% #end %>

<div class="visit-exhibit center-btn">
  <% #=link_to t(:'.visit_exhibit'), exhibit, class: "btn btn-primary", role: "button" %>
</div>
