<ul class="facet-values list-unstyled">

  <% subject_id = "/#{params[:medium]}/#{params[:collection]}/#{params[:year]}/#{params[:month]}/#{params[:edition]}/subject#{params[:subj_id]}" %>
  <!--if there is a category facet-->
  <% if !subject_id.blank? %>
      <!--find the subcategories of this category-->
      <% subcat_array = find_subcategories(subject_id) %>
  <% end %>


  <% table={}
     display_facet.items.each do |x|
       table[x.value] = x.hits
     end %>

  <% subcat_array.each do |content| %>
      <div>
        <span class="facet-label">
          <%= link_to content["node"], content["uri"] %>
          </span>
        <span class="facet-count">
          <%= table[content["id"]] %>
        </span>
      </div>
  <% end %>

  <!--and now the paginator renders only the subcategories we want-->
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <% render_facet_limit_list paginator, field_name %>

  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets_link">
      <%= link_to t("more_#{field_name}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: facet_field.label),
        search_facet_path(id: field_name), class: "more_facets_link" %>
    </li>
  <% end %>
</ul>
