<ul class="facet-values list-unstyled">

  <% subcat_array = find_subcategories("/editions/any/2009/jul/editions") %>

  <% table={}
     display_facet.items.each do |x|
       table[x.value] = x.hits
     end %>

  <% subcat_array.each do |content| %>
      <li>
        <span class="facet-label">
          <%= link_to content["node"], content["uri"] %>
          </span>
        <span class="facet-count">
          <%= table[content["id"]] %>
        </span>
      </li>
  <% end %>
</ul>
