<ul class="facet-values list-unstyled">

  <% subject_id = "/#{params[:medium]}/#{params[:collection]}/#{params[:year]}/#{params[:month]}/#{params[:edition]}/subject#{params[:subj_id]}" %>
  <!--if there is a category facet-->
  <% if !subject_id.blank? %>
      <!--find the subcategories of this category-->
      <% subcat_array = find_subcategories(subject_id) %>
  <% end %>


  <% table={}
     display_facet.items.each do |x|
       table[x.value] = x.hits
     end %>

  <% subcat_array.each do |content| %>
      <li>
        <span class="facet-label">
          <%= link_to content["node"], content["uri"] %>
          </span>
        <span class="facet-count">
          <%= table[content["id"]] %>
        </span>
      </li>
  <% end %>

  
</ul>
