<div class="page-header row">

</div>

<% #exhibits.each_slice(3).each do |row| %>
    <div class="row"><!-- start main content row -->
      <% cache("edition-cards-#{get_lang(params)}", expires_in: 3.hour) do %>
        <%= render partial: 'edition_card' %>
      <% end %>
    </div>
<% #end %>


