<% doc_presenter = show_presenter(document) %>
<%# default partial to display solr document fields in catalog show view -%>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
          <div id="kbOSDInstance">
            <div class="kbOSDViewer">
              <div class="kbOSDToolbar"></div>
              <div class="kbOSDContent"></div>
            </div>
          </div>

          <script type="text/javascript">
              url = "http://kb-images.kb.dk/online_master_arkiv_12/non-archival/Maps/FYNLUFTFOTO/Ariel/A088673/A088673_13/info.json";
              var kbOSDconfig = [{
                  "id": "kbOSDInstance",
                  "toolbar": "kbOSDToolbar",
                  "showNavigator": true,
                  "initialPage": 1,
                  "defaultZoomLevel": 0,
                  "sequenceMode": true,
                  "tileSources": [url]
              }];

          </script>
          <script src="http://static.kb.dk/kbOpenSeadragon/2.2.0/js/KbOSD_bundle_min.js" ></script>
    <% end -%>
  <% end -%>
</dl>
